
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
    <app-head></app-head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4 userpoto">
                <div class="row">
                    <img src="https://th.bing.com/th/id/R.6ac241a1434dc3ed05a172f2ffd14666?rik=aHYpZE5hXSiGIw&riu=http%3a%2f%2fwww.wikihow.com%2fimages%2f8%2f86%2fDraw-Ben-10-Aliens-Step-28.jpg&ehk=7%2fMYdOcxLBs4%2fc58ZaY2T4uMQuo720OR0OKxvm7bSkY%3d&risl=&pid=ImgRaw&r=0" alt="">
                </div>
                <div class="row ">
                   <span class="name">name</span>
                </div>
            </div>
            <!-- <div class="col-1"></div> -->
            <div class="col-8 bgpoto5">
                <div class="row poto5">
       
                    <div class="col-4">
                        <img src="https://i.pinimg.com/originals/01/d5/cc/01d5cc8af66e498d26329074d4319c80.jpg" alt="">
                    </div>
                    
                    <div class="col-4">
                        <img src="https://i.pinimg.com/originals/01/d5/cc/01d5cc8af66e498d26329074d4319c80.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="https://i.pinimg.com/originals/01/d5/cc/01d5cc8af66e498d26329074d4319c80.jpg" alt="">
                    </div>
                </div>
                <br>
                <br>
                <div class="row poto5">
                    <div class="col-4">
                        <img src="https://i.pinimg.com/originals/01/d5/cc/01d5cc8af66e498d26329074d4319c80.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img src="https://i.pinimg.com/originals/01/d5/cc/01d5cc8af66e498d26329074d4319c80.jpg" alt="">
                    </div>
                    
                </div>
                
               
            </div>
            
        </div>






    </div>




</body>
</html>


